---
import ProjectCard from "./ProjectCard.astro";
import {dataProjects} from "../config/config"
---

<section class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-x-16 gap-y-10">
  
  {
    dataProjects.listProjects.map((project) => {
      return(
        <>
          <ProjectCard image={project.image} title={project.title} urlCode={project.urlCode} url={project.url}/>
        </>
      )
    })
  }

</section>