---
import { dataHeader } from "../../config/config";
---

<nav
  class="fixed z-10 w-full flex justify-end md:justify-center items-center p-4 h-16 backdrop-filter backdrop-blur bg-black/30"
>
  <div
    class="hidden md:flex flex-row gap-x-6 md:gap-x-8 lg:gap-x-20 xl:gap-x-32 text-xl text-white whitespace-nowrap"
  >
    {
      dataHeader.listSections.map((section) => {
        return(
          <>
            <a href={section.id} data-value={section.text} class="hacktext_hover_effect uppercase py-3 px-5">{section.text}</a>
          </>
        )
      })
    }
  </div>
  <button
    class="togglemenu rounded-xl hover:bg-white/5 py-1 px-2 inline md:hidden mr-4"
  >
    <i class="fa fa-bars text-white text-xl" aria-hidden="true"></i>
  </button>
</nav>

<nav id="rigthSideNav" class="hidden">
  <div
    class="z-20 fixed flex flex-col gap-y-6 p-5 top-0 bottom-0 right-0 w-72 backdrop-filter backdrop-blur bg-black/70"
  >
    <div class="w-full flex justify-end pr-3">
      <button class="togglemenu rounded-xl hover:bg-white/5 py-1 px-3">
        <i class="fa fa-times text-white text-xl" aria-hidden="true"></i>
      </button>
    </div>

    <div class="text-white font-semibold text-xl flex flex-col gap-y-5 items-center font-Rubik">
      {
        dataHeader.listSections.map((section) => {
          return(
            <>
              <a href={section.id} data-value={section.text} class="w-full uppercase text-2xl hacktext_hover_effect text-center py-3 px-5">{section.text}</a>
            </>
          )
        })
      }
    </div>
  </div>
</nav>

<script>
  const sidenav = document.getElementById("rigthSideNav");
  const buttonsToggle = document.querySelectorAll("button.togglemenu");
  const anchorSideNav = document.querySelectorAll("a.w-full");

  function toggleMenu() {
    sidenav?.classList.toggle("hidden");
  }

  buttonsToggle.forEach((button) => {
    button.addEventListener("click", toggleMenu);
  });

  anchorSideNav.forEach((a) => {
    a.addEventListener("click", toggleMenu)
  })

  window.addEventListener("resize", () => {
    if (window.innerWidth >= 640) {
      sidenav?.classList.add("hidden");
    }
  });
</script>
